body {
    background: url('JYXVOG.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
#sensor_result{
    width: 350px;
    height: 350px;
}

  
  .bg-image {
    background-image: url('citypopcar.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }