h1{
    text-align: center;
}
body{
    background-color : greenyellow
}
/* #container {
    display: flex;
    flex-wrap: wrap;
} */
/* ================================ FLOW-TRANSDUCER ============================================ */
#sensor_result{
    text-align: center;
    background-color: yellow;
    width: 230px;
    height: 250px;
    padding: 5px;
    margin: 20px;
}
#sensor_info{
    text-align: center;
    background-color: cyan;
    width: 200px;
    height: 140px;
    padding: 5px;
    margin: 10px;
}
/* ================================ FLOW-TRANSDUCER ============================================ */